# ignore gnat object files

b~*
*.ali
build_objects/*.stderr
build_objects/*.stdout
build_objects/*.d
build_objects/b__*
build_objects/*.bexch
build_objects/*.deps

# ignore c-based object files

*.a
*.o
*.pico
*.po
*.Po
*.So
extlib/custom_sqlite/sqlite3.[ch]
extlib/custom_sqlite/shell.c

# ignore binaries

*.gz

# ignore vendor directories
vendor/sqlite3
