# ignore gnat object files

b~*
*.ali

# ignore c-based object files

*.a
*.o
*.pico
*.po
*.Po
*.So
extlib/custom_sqlite/sqlite3.[ch]

# ignore binaries

*.gz

# ignore vendor directories
vendor/sqlite3
